.root {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.full-width-table {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
